* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.body {
  width: 100vw;
  height: 100vh;
}

.header_box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dummy-image);
  background-image: url(/main_bg_01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav_box {
  width: 90%;
  height: 100px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-white);
}

.nav_left {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: var(--main-title);
  cursor: pointer;
}

.nav_text1 {
  font-weight: 700;
  text-align: right;
}

.devide_line {
  width: 2px;
  height: 70%;
  background-color: var(--main-title);
  margin: 0 8px 0 8px;
}

.nav_right {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: var(--main-title);
}

.nav_item {
  font-size: 15px;
  cursor: pointer;
}

.header_main {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_text_box {
  color: var(--main-text);
}

.header_text_top {
  margin-bottom: 150px;
  font-size: 52px;
}

.header_text_bottom {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom_btn {
  width: 200px;
  height: 60px;
  margin-top: 30px;
  background-color: transparent;
  color: var(--main-text);
  border: 1px solid var(--main-text);
  cursor: pointer;
}

.main_box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.main_top_title {
  font-size: 32px;
  color: var(--main-title);
}
.main_top_subText {
  font-size: 13px;
  font-weight: 300;
  color: var(--main-title-gray);
}

.main_bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_img_box {
  position: relative;
  height: 400px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.img_subText {
  font-weight: 300;
  font-size: 14px;
  color: var(--main-title-gray);
}

.img_subText::before {
  content: "";
  position: absolute;
  top: 87%;
  left: 0;
  width: 60%;
  height: 1px;
  background-color: #002279;
  transform: translateY(-50%);
}

.main_img_box > img {
  width: 300px;
  height: 320px;
}

.gray_rect {
  position: absolute;
  top: -70%;
  left: 0;
}

.box_3_wrapper {
  position: relative;
  width: 100%;
  padding-left: 200px;
  height: 600px;
  background-color: #3d3c4e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box_3_left {
  margin-right: 220px;
}
.box_3_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--main-text);
}
.right_top {
  margin-bottom: 80px;
}
.right_top > span {
  border: 700;
  font-size: 32px;
}
.right_bottom {
  display: flex;
}

.subtitle_box {
  margin-right: 90px;
  position: relative;
}

.subtitle_box > img {
  margin-bottom: 20px;
}

.subtitle_box::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: #ffffff;
  transform: translateY(-50%);
}
.right_subtitle {
  margin: 15px 0;
  font-weight: 600;
  font-size: 17px;
}

.box_4_wrapper {
  height: 600px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.box_4_subtitle {
  color: var(--main-title);
  font-weight: 500;
  font-size: 32px;
}

.box_4_menu {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.menu_items {
  position: relative;
  min-width: 23%;
  display: flex;
  text-align: center;
  font-weight: 300;
}
.menu_items::before {
  content: "";
  position: absolute;
  top: -70%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--main-title);
}

.box_5_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #3d3c4e;
}

.box_5_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  color: var(--main-white);
}
.box_5_subtitle {
  font-size: 32px;
  font-weight: 500;
}

.box_5_button {
  width: 200px;
  height: 60px;
  margin-top: 30px;
  background-color: transparent;
  color: var(--main-text);
  border: 1px solid var(--main-text);
  cursor: pointer;
}

.box_6_wrapper {
  width: 100%;
  height: 700px;
  background-image: url(/sub_bg_01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box_7_wrapper {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}

.box_7_left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.left_one {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.left_one_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.left_one_subText {
  font-size: 14px;
  color: var(--main-title-gray);
}

.left_top_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-title);
  font-weight: 600;
  cursor: pointer;
}

.left_two {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.left_two_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 15px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: var(--main-title);
}
.left_two_subtext {
  font-size: 14px;
  color: var(--main-title-gray);
}

.left_icon_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.left_icon_box > img {
  cursor: pointer;
}

.box_7_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 400px;
  gap: 15px;
}
.right_form_title {
  font-weight: 600;
  color: var(--main-title);
}
.form_first_box {
  width: 100%;
  display: flex;
  gap: 40px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input_label {
  font-size: 18px;
  font-weight: 600;
  color: var(--main-title);
  margin-bottom: 20px;
}

.form_inputs {
  width: 300px;
  border: none;
  border-bottom: 1px solid var(--main-title);
  outline: none;
  font-size: 17px;
  background-color: transparent;
}
.right_text_area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}
.form_textarea {
  width: 100%;
  font-size: 17px;
  resize: none;
  border: 1px solid var(--main-title);
  outline-color: var(--main-title);
}

.submit_button {
  width: 100px;
  height: 79%;
  background-color: transparent;
  border: 1px solid var(--main-title);
  font-weight: 500;
  font-size: 19px;
  color: var(--main-title);
  cursor: pointer;
}

footer {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d3c4e;
  color: var(--main-white);
}
